<div>
    <mat-card style="background-color: #6c4f34">
        <mat-card-title>
            <h1  class="texto">{{coffee?.blend_name}}</h1>
        </mat-card-title>
        <mat-card-subtitle class="texto">
            <h2>Coffee Information</h2>
            </mat-card-subtitle>
        <mat-card-content>
            <mat-divider style="color: #fff6ed;">
            </mat-divider>
            <h3 class="texto">Origin: {{coffee?.origin}}</h3>
            <mat-divider  style="color: #fff6ed;">
            </mat-divider>
            <h4 class="texto">Variety: {{coffee?.variety}}</h4>
            <mat-divider  style="color: #fff6ed;">
            </mat-divider>
            <h3 class="texto">Notes: {{coffee?.notes}}</h3>
            <mat-divider  style="color: #fff6ed;">
            </mat-divider>
            <h4 class="texto">Intensifier: {{coffee?.intensifier}}</h4>
        </mat-card-content>
    </mat-card>
    <br>
</div>